In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

import time
import os

import pandas as pd

In [54]:
service = ChromeService(executable_path=ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\napha\.wdm\drivers\chromedriver\win32\99.0.4844.51]

In [4]:
data = pd.read_csv('./Khonkaen/test/khonkhan_test.csv')
data.head()

            Unnamed: 0  PM2.5
0  2020-07-01 00:00:00   11.0
1  2020-07-01 01:00:00   14.0
2  2020-07-01 02:00:00   15.0
3  2020-07-01 03:00:00   11.0
4  2020-07-01 04:00:00    9.0

In [5]:
data.columns = ["date","PM2.5"]
data.head()

                  date  PM2.5
0  2020-07-01 00:00:00   11.0
1  2020-07-01 01:00:00   14.0
2  2020-07-01 02:00:00   15.0
3  2020-07-01 03:00:00   11.0
4  2020-07-01 04:00:00    9.0

In [6]:
from datetime import datetime, timedelta

In [7]:
data['date_utc'] = pd.to_datetime(data['date']) - timedelta(hours=7)

In [8]:
data['url_date'] = data['date_utc'].apply(lambda x : x.strftime("%Y/%m/%d/%H%M")+"Z")

In [9]:
data.head()

                  date  PM2.5            date_utc          url_date
0  2020-07-01 00:00:00   11.0 2020-06-30 17:00:00  2020/06/30/1700Z
1  2020-07-01 01:00:00   14.0 2020-06-30 18:00:00  2020/06/30/1800Z
2  2020-07-01 02:00:00   15.0 2020-06-30 19:00:00  2020/06/30/1900Z
3  2020-07-01 03:00:00   11.0 2020-06-30 20:00:00  2020/06/30/2000Z
4  2020-07-01 04:00:00    9.0 2020-06-30 21:00:00  2020/06/30/2100Z

In [10]:
from selenium.webdriver.common.by import By

In [40]:
def getTemp(lat,long,date):
    url = 'https://earth.nullschool.net/#'+date+'/wind/surface/level/anim=off/overlay=temp/orthographic/loc='+long+','+lat
    driver.get(url=url)
    time.sleep(2)
    html = driver.execute_script("return document.documentElement.outerHTML")

    all_link = driver.find_elements(by=By.CSS_SELECTOR, value='#spotlight-panel.panel.card')
    for link in all_link:
        # print( link.text.split("\n")[-2])
        return link.text.split("\n")[-2]

In [41]:
def getWind(lat,long,date):
    url = 'https://earth.nullschool.net/#'+date+'/wind/isobaric/850hPa/anim=off/orthographic/loc='+long+','+lat
    driver.get(url=url)
    time.sleep(2)
    html = driver.execute_script("return document.documentElement.outerHTML")

    all_link = driver.find_elements(by=By.CSS_SELECTOR, value='#spotlight-panel.panel.card')
    for link in all_link:
        # print(link.text.split("\n")[2])
        return link.text.split("\n")[2]

In [85]:
data['temp'] = data['url_date'].apply(lambda x : getTemp('16.445329','102.835251',x))

In [ ]:
data['wind'] = data['url_date'].apply(lambda x : getWind('16.445329','102.835251',x))

In [ ]:
data.to_csv('scrapeKhonkaen.csv')