In [35]:
import pandas as pd
from datetime import timedelta,datetime

In [5]:
provinces = ['BKK','Chiangmai','Khonkaen','Rayong','Saraburi','Surat']
province = provinces[0]

data_test = pd.read_csv(province+'_clean2.csv', date_parser = True)
data_test['date_time'] = pd.to_datetime(data_test['date_time'])
data_test.head()

            date_time  PM2.5  temp  wind speed  wind dir
0 2020-07-01 00:00:00    9.0  29.4          35       270
1 2020-07-01 06:00:00   11.0  28.3          55       270
2 2020-07-01 12:00:00   15.0  29.7          51       260
3 2020-07-01 18:00:00   14.0  29.5          35       265
4 2020-07-02 00:00:00   18.0  28.7          60       275

In [4]:
data_pred = pd.read_csv(province+'_pred.csv')
data_pred.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,8.975368,9.220467,9.379041,9.043898,9.047036,9.236771,9.879457,9.817023,9.265168,9.868184,10.558700,10.694045
1,8.843047,9.207591,9.408664,9.095198,9.037593,9.308188,9.906824,9.723071,8.908008,9.632304,10.415709,10.448233
2,8.676266,9.219560,9.461530,9.157233,9.074416,9.472742,9.979283,9.580980,8.485744,9.360002,10.228065,10.099113
3,8.494095,9.219607,9.491047,9.192157,9.138667,9.686892,10.074707,9.381606,8.079103,9.115675,10.019542,9.682838
4,8.460251,9.290161,9.573260,9.264891,9.210225,9.820296,10.069975,9.153856,7.752151,8.887491,9.787780,9.335746

In [10]:
pred_time = []
pm = []
date_time = []

for i in range(len(data_test)):
    for j in range(1,13):
        d = data_test.iloc[i,0]
        pred_time.append(d+j*timedelta(hours=6))
        date_time.append(d)
        pm.append(data_pred.iloc[i,j-1])

In [14]:
for i in range(len(pred_time[:20])):
    print(date_time[i],pred_time[i],pm[i])

2020-07-01 00:00:00 2020-07-01 06:00:00 8.97536849975586
2020-07-01 00:00:00 2020-07-01 12:00:00 9.220466613769531
2020-07-01 00:00:00 2020-07-01 18:00:00 9.379040718078612
2020-07-01 00:00:00 2020-07-02 00:00:00 9.04389762878418
2020-07-01 00:00:00 2020-07-02 06:00:00 9.047036170959473
2020-07-01 00:00:00 2020-07-02 12:00:00 9.236770629882812
2020-07-01 00:00:00 2020-07-02 18:00:00 9.879457473754885
2020-07-01 00:00:00 2020-07-03 00:00:00 9.817023277282717
2020-07-01 00:00:00 2020-07-03 06:00:00 9.26516819000244
2020-07-01 00:00:00 2020-07-03 12:00:00 9.868184089660645
2020-07-01 00:00:00 2020-07-03 18:00:00 10.55869960784912
2020-07-01 00:00:00 2020-07-04 00:00:00 10.694045066833496
2020-07-01 06:00:00 2020-07-01 12:00:00 8.843047142028809
2020-07-01 06:00:00 2020-07-01 18:00:00 9.20759105682373
2020-07-01 06:00:00 2020-07-02 00:00:00 9.408663749694824
2020-07-01 06:00:00 2020-07-02 06:00:00 9.095197677612305
2020-07-01 06:00:00 2020-07-02 12:00:00 9.037592887878418
2020-07-01 06:00:00 2020-07-02 18:00:00 9.308188438415527
2020-07-01 06:00:00 2020-07-03 00:00:00 9.906824111938477
2020-07-01 06:00:00 2020-07-03 06:00:00 9.723071098327637

In [15]:
data = pd.DataFrame({'date_time':date_time,'date_pred':pred_time,'PM2.5':pm})
data.head(20)

             date_time           date_pred      PM2.5
0  2020-07-01 00:00:00 2020-07-01 06:00:00   8.975368
1  2020-07-01 00:00:00 2020-07-01 12:00:00   9.220467
2  2020-07-01 00:00:00 2020-07-01 18:00:00   9.379041
3  2020-07-01 00:00:00 2020-07-02 00:00:00   9.043898
4  2020-07-01 00:00:00 2020-07-02 06:00:00   9.047036
5  2020-07-01 00:00:00 2020-07-02 12:00:00   9.236771
6  2020-07-01 00:00:00 2020-07-02 18:00:00   9.879457
7  2020-07-01 00:00:00 2020-07-03 00:00:00   9.817023
8  2020-07-01 00:00:00 2020-07-03 06:00:00   9.265168
9  2020-07-01 00:00:00 2020-07-03 12:00:00   9.868184
10 2020-07-01 00:00:00 2020-07-03 18:00:00  10.558700
11 2020-07-01 00:00:00 2020-07-04 00:00:00  10.694045
12 2020-07-01 06:00:00 2020-07-01 12:00:00   8.843047
13 2020-07-01 06:00:00 2020-07-01 18:00:00   9.207591
14 2020-07-01 06:00:00 2020-07-02 00:00:00   9.408664
15 2020-07-01 06:00:00 2020-07-02 06:00:00   9.095198
16 2020-07-01 06:00:00 2020-07-02 12:00:00   9.037593
17 2020-07-01 06:00:00 2020-07-02 18:00:00   9.308188
18 2020-07-01 06:00:00 2020-07-03 00:00:00   9.906824
19 2020-07-01 06:00:00 2020-07-03 06:00:00   9.723071

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17568 entries, 0 to 17567
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  17568 non-null  datetime64[ns]
 1   date_pred  17568 non-null  datetime64[ns]
 2   PM2.5      17568 non-null  float64
dtypes: datetime64[ns](2), float64(1)
memory usage: 411.9 KB

In [30]:
missing_test_date = pd.read_csv('../_missing_date/missing_test_date_'+province.lower()+'.csv')

missing_test_date.columns = ['','date_pred']
missing_test_date['date_pred'] = pd.to_datetime(missing_test_date['date_pred'] )

missing_test_date.head()

               date_pred
0  0 2020-07-13 12:00:00
1  1 2020-07-13 18:00:00
2  2 2020-07-14 00:00:00
3  3 2020-07-14 06:00:00
4  4 2020-07-14 12:00:00

In [31]:
df = pd.merge(data, missing_test_date, how='outer', indicator=True)
df = df.loc[df._merge == 'left_only', ['date_time',	'date_pred','PM2.5']]
df.head()

            date_time           date_pred     PM2.5
0 2020-07-01 00:00:00 2020-07-01 06:00:00  8.975368
1 2020-07-01 00:00:00 2020-07-01 12:00:00  9.220467
2 2020-07-01 06:00:00 2020-07-01 12:00:00  8.843047
3 2020-07-01 00:00:00 2020-07-01 18:00:00  9.379041
4 2020-07-01 06:00:00 2020-07-01 18:00:00  9.207591

In [34]:
df.head(150)

              date_time           date_pred      PM2.5
0   2020-07-01 00:00:00 2020-07-01 06:00:00   8.975368
1   2020-07-01 00:00:00 2020-07-01 12:00:00   9.220467
2   2020-07-01 06:00:00 2020-07-01 12:00:00   8.843047
3   2020-07-01 00:00:00 2020-07-01 18:00:00   9.379041
4   2020-07-01 06:00:00 2020-07-01 18:00:00   9.207591
..                  ...                 ...        ...
145 2020-07-04 06:00:00 2020-07-05 12:00:00   9.474323
146 2020-07-04 12:00:00 2020-07-05 12:00:00   9.167495
147 2020-07-04 18:00:00 2020-07-05 12:00:00   9.417343
148 2020-07-05 00:00:00 2020-07-05 12:00:00  10.494826
149 2020-07-05 06:00:00 2020-07-05 12:00:00   9.813018

[150 rows x 3 columns]

In [37]:
df[df['date_time']==datetime(2020,7,5)]

     date_time           date_pred      PM2.5
137 2020-07-05 2020-07-05 06:00:00   9.729742
148 2020-07-05 2020-07-05 12:00:00  10.494826
159 2020-07-05 2020-07-05 18:00:00   9.318104
170 2020-07-05 2020-07-06 00:00:00   8.997470
181 2020-07-05 2020-07-06 06:00:00   9.326550
192 2020-07-05 2020-07-06 12:00:00   9.292713
203 2020-07-05 2020-07-06 18:00:00   7.831798
214 2020-07-05 2020-07-07 00:00:00   6.726135
225 2020-07-05 2020-07-07 06:00:00   6.480569
236 2020-07-05 2020-07-07 12:00:00   7.293199
247 2020-07-05 2020-07-07 18:00:00   7.509037
258 2020-07-05 2020-07-08 00:00:00   7.464474

In [38]:
df = df.sort_values(['date_time','date_pred'])

In [39]:
df.head(20)

             date_time           date_pred      PM2.5
0  2020-07-01 00:00:00 2020-07-01 06:00:00   8.975368
1  2020-07-01 00:00:00 2020-07-01 12:00:00   9.220467
3  2020-07-01 00:00:00 2020-07-01 18:00:00   9.379041
6  2020-07-01 00:00:00 2020-07-02 00:00:00   9.043898
10 2020-07-01 00:00:00 2020-07-02 06:00:00   9.047036
15 2020-07-01 00:00:00 2020-07-02 12:00:00   9.236771
21 2020-07-01 00:00:00 2020-07-02 18:00:00   9.879457
28 2020-07-01 00:00:00 2020-07-03 00:00:00   9.817023
36 2020-07-01 00:00:00 2020-07-03 06:00:00   9.265168
45 2020-07-01 00:00:00 2020-07-03 12:00:00   9.868184
55 2020-07-01 00:00:00 2020-07-03 18:00:00  10.558700
66 2020-07-01 00:00:00 2020-07-04 00:00:00  10.694045
2  2020-07-01 06:00:00 2020-07-01 12:00:00   8.843047
4  2020-07-01 06:00:00 2020-07-01 18:00:00   9.207591
7  2020-07-01 06:00:00 2020-07-02 00:00:00   9.408664
11 2020-07-01 06:00:00 2020-07-02 06:00:00   9.095198
16 2020-07-01 06:00:00 2020-07-02 12:00:00   9.037593
22 2020-07-01 06:00:00 2020-07-02 18:00:00   9.308188
29 2020-07-01 06:00:00 2020-07-03 00:00:00   9.906824
37 2020-07-01 06:00:00 2020-07-03 06:00:00   9.723071

In [40]:
df[df['date_time']==datetime(2020,7,13)]

     date_time           date_pred     PM2.5
521 2020-07-13 2020-07-13 06:00:00  6.545702
587 2020-07-13 2020-07-14 18:00:00  5.261969
598 2020-07-13 2020-07-15 00:00:00  5.130840
609 2020-07-13 2020-07-15 06:00:00  5.034527
620 2020-07-13 2020-07-15 12:00:00  6.015098
631 2020-07-13 2020-07-15 18:00:00  5.389775
642 2020-07-13 2020-07-16 00:00:00  5.563497

In [41]:
len(df)

15588

In [42]:
df[df['date_time']==datetime(2020,7,14)]

     date_time           date_pred     PM2.5
591 2020-07-14 2020-07-14 18:00:00  5.494406
602 2020-07-14 2020-07-15 00:00:00  5.182664
613 2020-07-14 2020-07-15 06:00:00  5.328176
624 2020-07-14 2020-07-15 12:00:00  5.480247
635 2020-07-14 2020-07-15 18:00:00  4.884134
646 2020-07-14 2020-07-16 00:00:00  4.747324
657 2020-07-14 2020-07-16 06:00:00  4.461527
668 2020-07-14 2020-07-16 12:00:00  5.566728
679 2020-07-14 2020-07-16 18:00:00  5.005213
690 2020-07-14 2020-07-17 00:00:00  5.091351

# All provinces

In [44]:
provinces = ['BKK','Chiangmai','Khonkaen','Rayong','Saraburi','Surat']
for i in range(len(provinces)):
    province = provinces[i]

    data_test = pd.read_csv(province+'_clean2.csv', date_parser = True)
    data_test['date_time'] = pd.to_datetime(data_test['date_time'])
    
    data_pred = pd.read_csv(province+'_pred.csv')

    pred_time = []
    pm = []
    date_time = []

    for i in range(len(data_test)):
        for j in range(1,13):
            d = data_test.iloc[i,0]
            pred_time.append(d+j*timedelta(hours=6))
            date_time.append(d)
            pm.append(data_pred.iloc[i,j-1])

    data = pd.DataFrame({'date_time':date_time,'date_pred':pred_time,'PM2.5':pm})

    missing_test_date = pd.read_csv('../_missing_date/missing_test_date_'+province.lower()+'.csv')

    missing_test_date.columns = ['','date_pred']
    missing_test_date['date_pred'] = pd.to_datetime(missing_test_date['date_pred'] )

    df = pd.merge(data, missing_test_date, how='outer', indicator=True)
    df = df.loc[df._merge == 'left_only', ['date_time',	'date_pred','PM2.5']]

    df.to_csv(province+'_submit.csv',index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'Chiangmai_pred.csv'